<div class="terminal">
  <div class="output" #terminalOutput>
    <div>
      <div *ngFor="let line of terminal.lines" [class.error]="line.level === 'error'">{{line.text}}</div>
    </div>
  </div>
  <label class="input">
    <span>$</span>
    <span contenteditable="true"
          #command
          (keydown.enter)="execute(command.textContent); command.textContent = ''; $event.preventDefault()"></span>
  </label>
</div>
<div>
  <h2>Files</h2>
  <div class="files">
    <app-filesystem-node [file]="context.root"></app-filesystem-node>
  </div>
</div>

<div>
  <h2>.git</h2>
  <div *ngIf="context.repository" class="repository">
    <div>HEAD <span class="inline-file-content">{{context.repository.HEAD}}</span></div>
    <div>objects/</div>
    <div *ngFor="let hash of context.repository.objects | keyvalue">
      {{hash.key}}
    </div>
    <div>refs/</div>
    <div>    heads/</div>
    <div *ngFor="let ref of context.repository.refs.heads | keyvalue">
      <span>        {{ref.key}} <span class="inline-file-content">{{ref.value}}</span></span>
    </div>

  </div>

</div>

<div>
  <h2>History</h2>
  <div *ngIf="context.repository">
    <div *ngFor="let commit of getHistory()">
      {{commit.hash}} {{commit.message}}
    </div>
  </div>

</div>

<div>
  <h2>Editor</h2>
</div>

<div>
  <h2>index</h2>
  <div class="index" *ngIf="context?.repository?.index">
    <div *ngFor="let index of context.repository.index.files">
      <span>{{index.type.toString(8)}}{{index.mode.toString(8).padStart(4, '0')}} {{index.path}} {{index.objectHash}}</span>
    </div>
  </div>
</div>
