@import "styles/responsive-utils";

:host {
  padding: 16px;
  font-size: 18px;
  display: grid;
  grid-gap: 8px;
  grid-template-columns: calc(100vw - 32px);
  grid-template-areas: "terminal" "repository" "files" "history";
  @include for-tablet-landscape-up {
    grid-template-columns: 50vw 1fr;
    grid-template-areas: "terminal files" "repository history";
  }

  .terminal {
    grid-area: terminal;
    font-family: "Roboto Mono", monospace;
  }

  .repository {
    grid-area: repository;
  }

  .files {
    grid-area: files;
    font-family: "Roboto Mono", monospace;

  }

  .history {
    grid-area: history;

    .hash {
      font-family: "Roboto Mono", monospace;
    }

    .commits {
      display: grid;
      grid-template-columns: auto minmax(100px, 1fr) minmax(50px, 1fr);
      grid-column-gap: 16px;

      .author {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }


}
