<div class="header">
  <button mat-icon-button (click)="openConfig()">
    <mat-icon>settings_applications</mat-icon>
  </button>
</div>
<div class="terminal">
  <h2>Terminal</h2>
  <app-terminal></app-terminal>
</div>
<div class="files">
  <h2>Files</h2>
  <div>
    <app-filesystem-node [file]="context.root"></app-filesystem-node>
  </div>
</div>

<div class="repository">
  <h2>.git/</h2>
  <app-repository *ngIf="context.repository" [repository]="context.repository">
  </app-repository>
</div>

<div class="history">
  <h2>History</h2>
  <div *ngIf="context.repository">
    <div *ngFor="let commit of getHistory()" class="commits">
      <span class="hash">
        <span [class.highlighted]="highlightService.isHighlighted(commit.hash)"
              class="highlight-selectable selectable"
              (click)="highlightService.highlight(commit.hash)">{{commit.hash.substr(0, 8)}}</span>
      </span>
      <span>{{commit.message}}</span>
      <span class="author">{{commit.author}}</span>
    </div>
  </div>

</div>
