:host {
  display: block;

  app-filesystem-node {
    margin-left: 16px;
  }

  .file {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    .actions {
      margin-left: auto;
    }
  }

  .selectable {
    text-decoration: underline;
    cursor: pointer;
  }

  .file-content {
    overflow: auto;
    padding-left: 4px;
    margin-left: 4px;
    border: 1px solid black;
  }
}
